<div style="margin: 5%;   text-align: center; font-size: larger;">
        <p>
                Now it's time to practice!
                <br><br><br><br>
                Play around with the tool and try to perform the required tasks.
                <br>
                You can rewatch the tutorial video during this practice session.
                <br>

                When you feel confident in using the tool, press NEXT to end the practice session.
                <br><br><br><br>
                (Feel also free to ask for assistance during the practice session.)
                <br><br><br><br>
                <b>
                        Now, press <a routerLink='/practice'>NEXT</a>
                        to start the practice session.
                </b>
        </p>
</div>