.animationContainer {
    position: absolute;
    bottom: 40px;
    width: 95%;
    z-index: 11;
}

#reportnav-trigger {    
    position: absolute;
    color: orange;
    right: -4%;
    bottom: 2%;
}

#textAreaCont{
    overflow: hidden;
    width: 100%;
    font-size: 14px;
    border-radius: 5px;
  }