.animationContainer {
    position: absolute;
    bottom: 40px;
    width: 95%;
    z-index: 11;
}

#reportnav-trigger {    
    position: relative;
    color: orange;
    right: -100%;
    bottom: -80px;
}

#textArea{
    overflow: hidden;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    border-radius: 5px;
    border: 5px solid #556677;
  }

button.enter {float: right;} 