// We need to use ::ng-deep to overcome view encapsulation
::ng-deep {
    .custom-slider {
      min-width: 300px;
    }
    .custom-slider .ng5-slider .ng5-slider-bar {
      height: 2px;
    }
    .custom-slider .ng5-slider .ng5-slider-selection {
      background: orange;
    }
  
    .custom-slider .ng5-slider .ng5-slider-pointer {
      width: 8px;
      height: 16px;
      top: auto; /* to remove the default positioning */
      bottom: 0;
      background-color: #333;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  
    .custom-slider .ng5-slider .ng5-slider-pointer:after {
      display: none;
    }
  
    .custom-slider .ng5-slider .ng5-slider-bubble  {
      bottom: 10px;
      color: #f1f1f1;
    }

    .custom-slider .ng5-slider .ng5-slider-limit {
      display: none;
    }
  
    .custom-slider .ng5-slider .ng5-slider-tick {
      width: 1px;
      height: 10px;
      margin-left: 4px;
      border-radius: 0;
      top: -1px;
    }
  
    .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
      background: orange;
    }
  }

  ng5-slider {
    width: 200px;
  }

a {
  font-size: 13px;
  color: #ffe4d1;
}