app-provenance-visualization {
  height: 80%;
  width: 300px;
  display: block;
  background-color: snow;
}
.visualizationContainer {
  display: flex;
  flex-direction: column;
}
.node {
  fill: white;
  stroke: black;
  cursor: pointer;
}

.node circle {
  stroke-width: 0.3px;
  opacity: 0.3;
}

.node circle.keynode {
  stroke: #000000;
}

.node circle.bookmarked {
  stroke: red;
  stroke-width: 1.2px;
}

.node circle.loaded {
  stroke: blue;
  stroke-width: 1.2px;
}

.node circle.intent_none {
  fill: white;
}

.node circle.intent_exploration {
  fill: #8dd3c7;
}

.node circle.intent_configuration {
  fill: #fdb462;
}

.node circle.intent_selection {
  fill: #80b1d3;
}

.node circle.intent_derivation {
  fill: #fb8072;
}

.node circle.intent_provenance {
  fill: #bebada;
}

.node circle.intent_annotation {
  fill: #ffffb3;
}

.node circle.intent_wrapped {
  fill: white;
  stroke: black;
  stroke-dasharray: 3;
  stroke-width: 0.6px;
}

.node.branch-active {
  background-color: #ccc;
}

.node.branch-active text {
  display: block;
}

.node.branch-active.node circle {
  opacity: 1;
}

.node.node-active .circle-label {
  font-weight: bold;
}

.node.node-active circle {
  stroke: black;
  stroke-width: 1.5px;
}

.node text {
  /* fill: white; */
  fill: #000;
  stroke-width: 0;
  font-family: Times;
}

.link {
  fill: none;
  /* stroke: white; */
  stroke: #000;
  stroke-width: 0.2px;
}

.link.active {
  /* stroke: white; */
  stroke: #000;
  stroke-width: 0.8px;
}

.titleAggregation {
  font-family: Times;
  font-size: 25px;
}
#DataAggregationTitle {
   display: flex;
    flex: 0.5;
    justify-content: center;
    align-items: center;
}
.dataAggregation-Box {
  font-family: Times;
}

.aggButton {
  width: 43%;
  margin: 0px 10px 0px 5px;
  font-size: 16px;
  font-family: Times;
}

.circle-text {
  font-size: 6px;
  display: block;
}

.circle-label {
  font-size: 7px;
}

.hiddenClass {
  display: none;
}
.container {
  display: flex;
  flex: 1;
  background-color: snow;
}
#aggregationControls {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90px;
  padding: 0 10px;
}
.caterpillar {
  cursor: pointer;
  margin: 0 10px;
}

/*Legend CSS*/

.legend {
  flex: 1;
  box-shadow: 0px 0px 4px #888;
  margin: 5px;
  height: 160px;
  background-color: white;
}
.legend ul {
  list-style-type: none;
  padding: 0 5px;
  margin: 3px 0;
}
.legend ul li {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}
.legend li .circle {
  width: 10px;
  height: 10px;
  border: 1px solid;
  border-radius: 6px;
}
.legend li .rect {
  width: 8px;
  height: 8px;
  border: 1px solid;
}
.legend li span {
  padding-left: 5px;
  font-size: 12px;
}

.legend li .bookmark  {
  width: 10px;
  height: 10px;
  border: 1.5px solid;
  border-color: red;
  border-radius: 6px;
}