<div style="margin: 5%;">

    <p>
        The clinical questions together with the related dataset will be given.<br>

        Read the clinical questions carefully, then perform an image assessment to answer the clinical questions.<br>

        When you have completed the image assessment, create a text report/visual data story to communicate the results
        to your target audience.<br>

        Feel free to extend the image assessment at any time.<br>

        When you have finished creating the text report/visual data story, press NEXT to go to the questionnaire
        session.
        <br><br>

        <b>
            Press <a routerLink='/tool/exploration'>START</a>
            to start the image assessment.
        </b>

    </p>
</div>