<div style="margin: 5%;   text-align: center;   font-size: larger;">

    <p>
        Now, the real evaluation!
        <br><br>
        Please, do not have breaks during the evaluation.
        <br><br><br><br>


        Please, perform the following tasks:
        <br><br>

        <b>1)</b> Explore the imaging data to find all nodules/anomalies in it.
        <br>
        <b>2)</b> Measure the diameter of all the nodules/anomalies found in the imaging data.
        <br>
        <b>3)</b> Create annotations and/or make additional measurements on the nodules/anomalies found in the imaging data.
        <br>
        <b>4)</b> Create a report to communicate your findings to collaborators.

        <br><br><br><br>

        Note that the application can take up to a minute to be load. Please, be patient.
        
        <br><br>

        When you have completed the tasks, press NEXT to go to the questionnaire session. <br><br>

        <br><br><br><br>

        <b>
            Now, press <a routerLink='/exploration'>NEXT</a>
            to start the image assessment.
        </b>

    </p>
</div>