@import '~@visualstorytelling/slide-deck-visualization/dist/bundle.css';

app-provenance-slides {
  height: 120;
  width: 100%;
  display: block;
  background-color: snow;
}

#slideDeck {
  display: flex;
  padding: 1%;
}
