@import '~@visualstorytelling/slide-deck-visualization/dist/bundle.css';

app-provenance-slides {
  width: 100%;
  display: block;
  background-color: white;
  border-radius: 5px;
}

#slideDeck {
  display: flex;
  padding: 1%;
}
