<div style="margin: 5%; text-align: center; font-size: larger;" *ngIf="isAdmin || isAuthor">
    <p>
        <b>INTRODUCTION TO THE STUDY</b>
        <br><br><br>
        The following is an outline of this user study.
        <br><br><br>
        First, you will have unlimited <u>practice time</u> to become familiar with the tool before starting the actual evaluation 
        (the recommended practice time is about 15 minutes).
        <br><br>
        During the actual evaluation, you have unlimited time to complete the following <b>tasks</b>:
        <br><br>
        <b>1)</b> Explore the imaging data to find all nodules/anomalies in it.
        <br>
        <b>2)</b> Measure the diameter of all the nodules/anomalies found in the imaging data.
        <br>
        <b>3)</b> Create annotations and/or make additional measurements on the nodules/anomalies found in the imaging data.
        <br>
        <b>4)</b> Create a report to communicate your findings to collaborators.
        <br><br>
        Finally, we ask you to complete a <u>short questionnaire</u> at the end.
        <br><br><br><br>
        (Note that <i>we are not testing you, we are testing our techniques)</i>
        <br><br><br><br>
        <b>Press <a routerLink='/intro-prac'>NEXT</a> to start the user study.</b>
    </p>
    <br>
</div>