<div style="margin: 5%;   text-align: center;" *ngIf="isAdmin || isAuthor">
    <p>
        <b>PLEASE READ THE FOLLOWING TEXT CAREFULLY.</b>
        <br><br>
        With this study, we would like to test whether the StoryVis tool and some of its features are effective to
        explore and communicate medical imaging data.<br>

        Before the start of the experiment, a short tutorial about how to use the application is shown and you will have
        practice time to become familiar with the tool.<br>

        Once ready, you can start performing the tasks and you have unlimited time to complete them. As a first task, we
        ask you to perform an image assessment of the given data based on clinical questions. Then, we ask you to create
        a text report/visual data story to communicate the results of the image assessment. Feel free to go back to
        extend the image assessment if needed.<br>

        Finally, we ask you to complete a short questionnaire.<br>

        When you are done, you can end the experiment at any time.<br>

        Notice that we are not testing you, we are testing our techniques!
        <br>
        <br>

        <b>Press <a routerLink='/tutorial'>START</a> to start the experiment.</b>

    </p>
    <br>

</div>


<div style="margin: 5%;   text-align: center;" *ngIf="isAdmin || isReader">
    <p>
        <b>PLEASE READ THE FOLLOWING TEXT CAREFULLY.</b>
         <br><br>
        With this study, we would like to test whether the given visual data story/text report is an effective way to
        communicate results of medical image assessments.<br>

        Before the start of the experiment, a short tutorial about how to use the application is shown.<br>

        As a first task, we ask you to read the clinical questions and to read the text report/visual data story in
        order to answer these questions.<br>

        Then, we ask you to complete a reading comprehension test. Feel free to go back to the text report/visual data
        story if needed.<br>

        Finally, we ask you to complete a short questionnaire.<br>

        Once ready, you can start performing the tasks and you have unlimited time to complete them. When you are done,
        you can end the experiment at any time.<br>

        Notice that we are not testing you, we are testing our techniques!
        <br>
        <br>

        <b>Press <a routerLink='/tutorial'>START</a> to start the experiment.</b>

    </p>
    <br>

</div>