<div style="margin: 5%;   text-align: center;">


    <div class="iframe">
        <iframe src="http://giphygifs.s3.amazonaws.com/media/awpqNsKuFtXI4/giphy.gif" frameBorder="0"
            class="giphy-embed" allowFullScreen>
        </iframe>
    </div>

    <span>&nbsp;</span>


    <p>Thank you for participating in this user study.
        <br>

        <br>
        In case you left us your email address, you might be contacted for a follow-up study in future.
        <br>
        Please, you can leave the room now.
    </p>



</div>