<div style="margin: 5%;  text-align: center;">

    <div *ngIf="isAuthor || isRegular">
        <p>A short tutorial about how to perform an image assessment and how to create a text report and visual data
            story
            with the StoryVis tool will be shown.
            <br>
            When you are done with short tutorial, press NEXT
            to start the image assessment.
        </p>

    </div>

    <div *ngIf="isReader">
        <p>A short tutorial about how to interact with the text report/visual data story will be shown, together with an
            example of a text report/visual data story. <br>
            When you are done with short tutorial, press NEXT to start reading the text report/visual data story.

        </p>

    </div>


    <div *ngIf="isReader">

        <!-- <video width="720" height="380" controls> -->
        <video controls>
            <source src="movie.mp4" type="video/mp4">
            Something went wrong... <br>
            Please, ask for assistance. </video>
    </div>


    <div *ngIf="(isAuthor || isRegular) && isNoProvGraph">

        <video controls>
            <source src="movie.mp4" type="video/mp4">
            Something went wrong... <br>
            Please, ask for assistance. </video>
    </div>


    <div *ngIf="(isAuthor || isRegular) && isProvGraph">

        <video controls>
            <source src="movie.mp4" type="video/mp4">
            Something went wrong... <br>
            Please, ask for assistance. </video>
    </div>


    <div *ngIf="(isAuthor || isRegular) && isPlotTrimmerG">

        <video controls>
            <source src="movie.mp4" type="video/mp4">
            Something went wrong... <br>
            Please, ask for assistance. </video>
    </div>

    <div *ngIf="(isAuthor || isRegular) && isPlotTrimmerC">

        <video controls>
            <source src="movie.mp4" type="video/mp4">
            Something went wrong... <br>
            Please, ask for assistance. </video>
    </div>

    <div class="buttonLink" *ngIf="(isAuthor || isRegular) || isAdmin">
        <b><a routerLink='/intro-prac'>NEXT</a></b>
    </div>

    <div class="buttonLink" *ngIf="isReader">
        <b><a routerLink='/intro-read'>NEXT</a></b>
    </div>

</div>