<mat-toolbar color="primary" style="width: 100%">
  <mat-toolbar-row>
    <!-- <button mat-raised-button matTooltip="Initialize the app" onClick="window.location.reload()">
      <mat-icon>refresh</mat-icon>
    </button>
    <span>&nbsp;</span>
    <span>StoryVis</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span> -->

    <div>
      <mat-form-field>
        <mat-label>Select Graph</mat-label>
        <mat-select (selectionChange)="provenance.restoreGraph($event)" >
          <mat-option *ngFor="let graph of graphs" [value]="graph">
            {{ graph._id}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select Story</mat-label>
        <mat-select (selectionChange)="provenance.restoreStory($event)">
          <mat-option *ngFor="let story of stories" [value]="story">
            {{ story._id }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select Report</mat-label>
        <mat-select (selectionChange)="provenance.restoreTextReport($event)">
          <mat-option *ngFor="let textReport of textReports" [value]="textReport">
            {{ textReport._id }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <span>&nbsp;</span>

      <button class = "save" mat-raised-button matTooltip="Save provenance graph in cloud" (click)="provenance.saveGraph(IDcreator)">
        <mat-icon>backup</mat-icon>
      </button>

      <button class = "save" mat-raised-button matTooltip="Save story in cloud" (click)="provenance.saveStory(IDcreator)">
        <mat-icon>mms icon</mat-icon>
      </button>

      <button class = "save" mat-raised-button matTooltip="Save text report in cloud" (click)="provenance.saveTextReport(IDcreator)">
        <mat-icon>library_books</mat-icon>
      </button>
    </div>

    <span>&nbsp;</span>

    <mat-button-toggle [checked]="canvas.settings.rulerMode"
      (change)="canvas.settings.rulerMode = $event.source.checked" matTooltip="Ruler">
      <mat-icon class="example-icon">space_bar</mat-icon>
    </mat-button-toggle>

    <mat-button-toggle [checked]="canvas.settings.angleMode"
      (change)="canvas.settings.angleMode = $event.source.checked" matTooltip="Angle Measurement">
      <mat-icon class="example-icon">launch</mat-icon>
    </mat-button-toggle>

    <!-- <mat-button-toggle [checked]="canvas.settings.freehandMode"
      (change)="canvas.settings.freehandMode = $event.source.checked" matTooltip="Freehand Measurement">
      <mat-icon class="example-icon">pan_tool</mat-icon>
    </mat-button-toggle> -->

    <mat-button-toggle [checked]="canvas.settings.voxelprobeMode"
      (change)="canvas.settings.voxelprobeMode = $event.source.checked" matTooltip="VoxelProbe">
      <mat-icon class="example-icon">fingerprint</mat-icon>
    </mat-button-toggle>

    <span>&nbsp;</span>

    <mat-button-toggle class="annotation" [checked]="canvas.settings.annotationMode"
      (change)="canvas.settings.annotationMode = $event.source.checked" matTooltip="Create Annotation">
      <mat-icon class="example-icon">speaker_notes</mat-icon>
    </mat-button-toggle>

    <!-- <mat-menu #appMenu="matMenu"> -->
    <app-styled-slider [canvas]="canvas"></app-styled-slider>
    <!--<ng5-slider [(value)]="canvas.settings.thresholdMinValue" [(highValue)]="canvas.settings.thresholdMaxValue" [options]="options"></ng5-slider>-->
    <!-- </mat-menu> -->
    <!-- <button matTooltip="Thresholds" mat-raised-button [matMenuTriggerFor]="appMenu">
      <mat-icon>exposure</mat-icon>
    </button> -->

    <div *ngIf="isAdmin">
      <a>{{IDcreator}}</a>
    </div>

    <!-- <div id="right">
      {{ now }}
    </div> -->

  </mat-toolbar-row>
</mat-toolbar>