.mat-toolbar.mat-primary {
  background: #434957;
  color: #fff;
  font-family: Times;
  font-size: 16px;
}
mat-button-toggle,

button {
  color: ivory;
  background-color: #586072;
}

.save {
  background-color: #586072;
}

mat-button-toggle.mat-button-toggle-checked {
  background-color: rgba(255, 255, 255, 0.4);
}

mat-button-toggle.annotation {
  background-color: #444958;
  border-width: 1px;
  border-color: lightgray;
}

div.right {
  position: absolute;
  right: 1em;
}
mat-toolbar {
  min-height: 0;
}
mat-toolbar-row {
  height: auto;
}

.mat-progress-spinner > svg > circle {
  stroke: white !important;
}