:host {
  display: contents;
}
app-brainvis-canvas {
  flex: 1;
}


app-brainvis-canvas-comparison.normal {
  display: none;
}

app-brainvis-canvas-comparison.comparison {
  width: 50%;
}

@media (max-width: 767px) {
  app-brainvis-canvas {
    width: 100% !important;
  }

  app-brainvis-canvas-comparison.comparison {
    display: none;
  }

  mat-sidenav-container {
    height: 100% !important;
  }

  #next-button {
    right: 16px;
    bottom: 16px;
  }
}



mat-sidenav {
  overflow: visible;
  visibility: visible !important;
}
mat-sidenav-container,
mat-sidenav-content {
  display: flex;
  flex: 1;
}

#sidenav-trigger {
  color: rgb(255, 200, 100);
  position: absolute;
  left: -50px;
}