<div id="main" class="visualizer">
    <div id="r0" class="renderer">
        <button *ngIf="!settings.isOneView && !settings.multiplePlanesModeOn" mat-icon-button class="magnification" (click)="displayOneView('r0');"
            matTooltip="Magnify view">
            <mat-icon>fullscreen</mat-icon>
        </button>
        <button *ngIf="settings.isOneView" mat-icon-button class="magnification-exit" (click)="displayOneView('r0');"
            matTooltip="Reduce view">
            <mat-icon>fullscreen_exit</mat-icon>
        </button>
        <button mat-icon-button class="sliceIndex" matTooltip="Slice index">
            Slice {{ getIndex(_axialRenderer) }}
        </button>
        <div *ngIf="settings.isAdvancedMode">
            <button mat-icon-button class="datacomics" (click)="addFrame('datacomics', 'r0');"
                matTooltip="Add frame to the dashboard">
                <mat-icon>grid_on</mat-icon>
            </button>
            <button *ngIf="settings.isOneView" mat-icon-button class="navigation-up"
                (click)="navigateVolume('axial', this._axialRenderer.stackHelper._orientationMaxIndex -1, 10000);"
                matTooltip="Show next slices">
                <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
            <button *ngIf="settings.isOneView" mat-icon-button class="navigation-down"
                (click)="navigateVolume('axial', 1, 10000);" matTooltip="Show previous slices">
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <button *ngIf="!settings.isOneView && !settings.isComparisonMode && !settings.multiplePlanesModeOn"
                mat-icon-button class="comparison" (click)="settings.canvas.multiplePlanes('r0');"
                matTooltip="Multiple plane mode">
                <mat-icon>filter_none</mat-icon>
            </button>
            <button *ngIf="!settings.isOneView && !settings.isComparisonMode && settings.multiplePlanesModeOn"
                mat-icon-button class="comparisonChecked" (click)="settings.canvas.multiplePlanes('r0');"
                matTooltip="Multiple plane mode">
                <mat-icon>filter_none</mat-icon>
            </button>
        </div>
    </div>

    <div id="r22" class="rendererNone">
        <button mat-icon-button class="sliceIndex" matTooltip="Slice index">
            Slice {{ getIndex(_coronalRenderer1) }}
        </button>
    </div>
    <div id="r33" class="rendererNone">
        <button mat-icon-button class="sliceIndex" matTooltip="Slice index">
            Slice {{ getIndex(_sagittalRenderer1) }}
        </button>
    </div>
    <div id="r1" class="renderer">
        <button *ngIf="!settings.isOneView && !settings.multiplePlanesModeOn" mat-icon-button class="magnification" (click)="displayOneView('r1');"
            matTooltip="Magnify view">
            <mat-icon>fullscreen</mat-icon>
        </button>
        <button *ngIf="settings.isOneView" mat-icon-button class="magnification-exit" (click)="displayOneView('r1');"
            matTooltip="Reduce view">
            <mat-icon>fullscreen_exit</mat-icon>
        </button>
        <div *ngIf="settings.isAdvancedMode">
            <button mat-icon-button class="datacomics" (click)="addFrame('datacomics', 'r1');">
                <mat-icon>grid_on</mat-icon>
            </button>
        </div>
    </div>
    <div id="r2" class="renderer">
        <button *ngIf="!settings.isOneView && !settings.multiplePlanesModeOn" mat-icon-button class="magnification" (click)="displayOneView('r2');"
            matTooltip="Magnify view">
            <mat-icon>fullscreen</mat-icon>
        </button>
        <button *ngIf="settings.isOneView" mat-icon-button class="magnification-exit" (click)="displayOneView('r2');"
            matTooltip="Reduce view">
            <mat-icon>fullscreen_exit</mat-icon>
        </button>
        <button mat-icon-button class="sliceIndex" matTooltip="Slice index">
            Slice {{ getIndex(_coronalRenderer) }}
        </button>
        <div *ngIf="settings.isAdvancedMode">
            <button mat-icon-button class="datacomics" (click)="addFrame('datacomics', 'r2');"
                matTooltip="Add frame to dashboard">
                <mat-icon>grid_on</mat-icon>
            </button>
            <button *ngIf="settings.isOneView" mat-icon-button class="navigation-up"
                (click)="navigateVolume('coronal', this._coronalRenderer.stackHelper._orientationMaxIndex -1, 10000);"
                matTooltip="Show next slices">
                <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
            <button *ngIf="settings.isOneView" mat-icon-button class="navigation-down"
                (click)="navigateVolume('coronal', 1, 10000);" matTooltip="Show previous slices">
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <button *ngIf="!settings.isOneView && !settings.isComparisonMode && !settings.multiplePlanesModeOn"
                mat-icon-button class="comparison" (click)="settings.canvas.multiplePlanes('r2');"
                matTooltip="Multiple plane mode">
                <mat-icon>filter_none</mat-icon>
            </button>
            <button *ngIf="!settings.isOneView && !settings.isComparisonMode && settings.multiplePlanesModeOn"
                mat-icon-button class="comparisonChecked" (click)="settings.canvas.multiplePlanes('r2');"
                matTooltip="Multiple plane mode">
                <mat-icon>filter_none</mat-icon>
            </button>
        </div>
    </div>
    <div id="r00" class="rendererNone">
        <button mat-icon-button class="sliceIndex" matTooltip="Slice index">
            Slice {{ getIndex(_axialRenderer1) }}
        </button>
    </div>
    <div id="r333" class="rendererNone">
        <button mat-icon-button class="sliceIndex" matTooltip="Slice index">
            Slice {{ getIndex(_sagittalRenderer2) }}
        </button>
    </div>
    <div id="r3" class="renderer">
        <button *ngIf="!settings.isOneView && !settings.multiplePlanesModeOn" mat-icon-button class="magnification" (click)="displayOneView('r3');"
            matTooltip="Magnify view">
            <mat-icon>fullscreen</mat-icon>
        </button>
        <button *ngIf="settings.isOneView" mat-icon-button class="magnification-exit" (click)="displayOneView('r3');"
            matTooltip="Reduce view">
            <mat-icon>fullscreen_exit</mat-icon>
        </button>
        <button mat-icon-button class="sliceIndex" matTooltip="Slice index">
            Slice {{ getIndex(_sagittalRenderer) }}
        </button>
        <div *ngIf="settings.isAdvancedMode">
            <button mat-icon-button class="datacomics" (click)="addFrame('datacomics', 'r3');"
                matTooltip="Add frame to dashboard">
                <mat-icon>grid_on</mat-icon>
            </button>
            <button *ngIf="settings.isOneView" mat-icon-button class="navigation-up"
                (click)="navigateVolume('sagittal', this._sagittalRenderer.stackHelper._orientationMaxIndex -1, 10000);"
                matTooltip="Show next slices">
                <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
            <button *ngIf="settings.isOneView" mat-icon-button class="navigation-down"
                (click)="navigateVolume('sagittal', 1, 10000);" matTooltip="Show previous slices">
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <button *ngIf="!settings.isOneView && !settings.isComparisonMode && !settings.multiplePlanesModeOn"
                mat-icon-button class="comparison" (click)="settings.canvas.multiplePlanes('r3');"
                matTooltip="Multiple plane mode">
                <mat-icon>filter_none</mat-icon>
            </button>
            <button *ngIf="!settings.isOneView && !settings.isComparisonMode && settings.multiplePlanesModeOn"
                mat-icon-button class="comparisonChecked" (click)="settings.canvas.multiplePlanes('r3');"
                matTooltip="Multiple plane mode">
                <mat-icon>filter_none</mat-icon>
            </button>
        </div>
    </div>
    <div id="r000" class="rendererNone">
        <button mat-icon-button class="sliceIndex" matTooltip="Slice index">
            Slice {{ getIndex(_axialRenderer2) }}
        </button>
    </div>
    <div id="r222" class="rendererNone">
        <button mat-icon-button class="sliceIndex" matTooltip="Slice index">
            Slice {{ getIndex(_coronalRenderer2) }}
        </button>
    </div>
</div>

<div id="datacomics" class="storytelling-container" style="display: none;"></div>


<div id="comparisonMain1" style="display: none;" class="visualizerComparison">
    <div id="c0" class="rendererComparison">
        <button *ngIf="!settings.isOneView && !settings.multiplePlanesModeOn" mat-icon-button class="magnification" (click)="displayOneView('c0');"
            matTooltip="Magnify view">
            <mat-icon>fullscreen</mat-icon>
        </button>
        <button *ngIf="settings.isOneView" mat-icon-button class="magnification-exit" (click)="displayOneView('c0');"
            matTooltip="Reduce view">
            <mat-icon>fullscreen_exit</mat-icon>
        </button>
        <button mat-icon-button class="datacomics" (click)="addFrame('datacomics', 'c0');"
            matTooltip="Add frame to dashboard">
            <mat-icon>grid_on</mat-icon>
        </button>
        <button *ngIf="settings.isOneView" mat-icon-button class="navigation-up"
            (click)="navigateVolume('axial', this._comparisonRenderer2D1.stackHelper._orientationMaxIndex -1, 10000);"
            matTooltip="Show next slices">
            <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
        <button *ngIf="settings.isOneView" mat-icon-button class="navigation-down"
            (click)="navigateVolume('axial', 1, 10000);" matTooltip="Show previous slices">
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <button *ngIf="!settings.isOneView && !settings.isComparisonMode && !settings.multiplePlanesModeOn"
        mat-icon-button class="comparison" (click)="settings.canvas.multiplePlanes('c0');"
        matTooltip="Multiple plane mode">
        <mat-icon>filter_none</mat-icon>
    </button>
    <button *ngIf="!settings.isOneView && !settings.isComparisonMode && settings.multiplePlanesModeOn"
        mat-icon-button class="comparisonChecked" (click)="settings.canvas.multiplePlanes('c0');"
        matTooltip="Multiple plane mode">
        <mat-icon>filter_none</mat-icon>
    </button>
    </div>
    <div id="c2" class="rendererComparison">
        <button *ngIf="!settings.isOneView && !settings.multiplePlanesModeOn" mat-icon-button class="magnification" (click)="displayOneView('c2');"
            matTooltip="Magnify view">
            <mat-icon>fullscreen</mat-icon>
        </button>
        <button *ngIf="settings.isOneView" mat-icon-button class="magnification-exit" (click)="displayOneView('c2');"
            matTooltip="Reduce view">
            <mat-icon>fullscreen_exit</mat-icon>
        </button>
        <button mat-icon-button class="datacomics" (click)="addFrame('datacomics', 'c2');"
            matTooltip="Add frame to dashboard">
            <mat-icon>grid_on</mat-icon>
        </button>
    </div>
</div>