.animationContainer {
    position: absolute;
    bottom: 0;
    width: 95%;
    z-index: 11;
    height: 100px;
}

#slidesnav-trigger {    
    position: absolute;
    color: orange;
    right: -4%;
    bottom: 2%;
}