<mat-toolbar color="primary" style="width: 100%">
  <mat-toolbar-row>


    <mat-button-toggle class="dashboardBtn" [checked]="canvasComparison.settings.datacomicsMode"
      (click)="canvasComparison.displayDatacomics()" (change)="canvasComparison.settings.datacomicsMode = $event.source.checked"
      matTooltip="Data-Comics Mode">
      <mat-icon>textsms</mat-icon>

    </mat-button-toggle>

    <span>&nbsp;</span>

    <mat-button-toggle class="dashboardBtn" [checked]="canvasComparison.settings.scrollytellingMode"
      (click)="canvasComparison.displayScrollytelling()" (change)="canvasComparison.settings.scrollytellingMode = $event.source.checked"
      matTooltip="Scrollytelling Mode">
      <mat-icon>view_list</mat-icon>

    </mat-button-toggle>


    <span>&nbsp;</span>


    <button *ngIf="canvasComparison.dashboardOpen" class="btn btn-primary" matTooltip="To rearrange the story elements"
      style="font-size: 12px; background-color: lightslategrey; border: none;" (click)="canvasComparison.rearrangeFrames()">
      <mat-icon>grid_off</mat-icon>

    </button>

    <span>&nbsp;</span>

    <button *ngIf="canvasComparison.dashboardOpen" class="btn btn-primary" matTooltip="To add a text box"
      style="font-size: 12px; background-color: lightslategrey; border: none;" (click)="canvasComparison.addTextArea()">
      <mat-icon>speaker_notes</mat-icon>

    </button>

    <span>&nbsp;</span>

    <button *ngIf="canvasComparison.dashboardOpen" class="btn btn-primary" matTooltip="To clear the dashboard"
      style="font-size: 12px; background-color: lightslategrey; border: none;" (click)="canvasComparison.clearDashboard()">
      <mat-icon>clear</mat-icon>

    </button>

    <span>&nbsp;</span>

    <!-- <div *ngIf="isAdmin">
      <mat-form-field>
        <mat-label>Select Graph</mat-label>
        <mat-select (selectionChange)="provenance.restoreGraph($event)">
          <mat-option *ngFor="let graph of graphs" [value]="graph">
            {{ graph._id}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select Story</mat-label>
        <mat-select (selectionChange)="provenance.restoreStory($event)">
          <mat-option *ngFor="let story of stories" [value]="story">
            {{ story._id }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select Report</mat-label>
        <mat-select (selectionChange)="provenance.restoreTextReport($event)">
          <mat-option *ngFor="let textReport of textReports" [value]="textReport">
            {{ textReport._id }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <span>&nbsp;</span>



      <button class="save" mat-raised-button matTooltip="Save provenance graph in cloud"
        (click)="provenance.saveGraph(IDcreator)">
        <mat-icon>backup</mat-icon>
      </button>

      <button class="save" mat-raised-button matTooltip="Save story in cloud" (click)="provenance.saveStory(IDcreator)">
        <mat-icon>mms icon</mat-icon>
      </button>

      <button class="save" mat-raised-button matTooltip="Save text report in cloud"
        (click)="provenance.saveTextReport(IDcreator)">
        <mat-icon>library_books</mat-icon>
      </button>
    </div> -->

    <span>&nbsp;</span>

    <mat-button-toggle [checked]="settings.rulerMode" (change)="settings.rulerMode = $event.source.checked"
      matTooltip="Distance Measurement">
      <mat-icon class="example-icon">space_bar</mat-icon>
    </mat-button-toggle>

    <mat-button-toggle [checked]="settings.angleMode" (change)="settings.angleMode = $event.source.checked"
      matTooltip="Angle Measurement">
      <mat-icon class="example-icon">launch</mat-icon>
    </mat-button-toggle>

    <!-- <mat-button-toggle [checked]="settings.freehandMode"
      (change)="settings.freehandMode = $event.source.checked" matTooltip="Freehand Measurement">
      <mat-icon class="example-icon">pan_tool</mat-icon>
    </mat-button-toggle> -->

    <mat-button-toggle [checked]="settings.voxelprobeMode" (change)="settings.voxelprobeMode = $event.source.checked"
      matTooltip="Density Measurement">
      <mat-icon class="example-icon">fingerprint</mat-icon>
    </mat-button-toggle>

    <span>&nbsp;</span>

    <mat-button-toggle class="annotation" [checked]="settings.annotationMode"
      (change)="settings.annotationMode = $event.source.checked" matTooltip="Text Annotation">
      <mat-icon class="example-icon">speaker_notes</mat-icon>
    </mat-button-toggle>

    <!-- <app-styled-slider-practice *ngIf="!studyStarted"></app-styled-slider-practice>
    <app-styled-slider-exploration *ngIf="studyStarted"></app-styled-slider-exploration> -->

    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>


    <!-- <mat-form-field style = 'width: fit-content;' matTooltip="Set default window level">
      <mat-label> Default WL settings </mat-label>
      <mat-select (selectionChange)="settings.canvasComparison.presetWindowLevel($event)">
        <mat-option *ngFor="let wlSetting of wlSettings" [value]="wlSetting">
          {{ wlSetting.name }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->


    <!-- <button class="smallerButton" mat-raised-button matTooltip="Set default window level - Lung"
      (click)="settings.canvasComparison.resetWindowLevel('1')">
      <mat-icon>settings_brightness</mat-icon>
    </button>

    <span>&nbsp;</span>

    <button class="smallerButton" style="background-color: slategray;" mat-raised-button
      matTooltip="Set default window level - Mediastinum" (click)="settings.canvasComparison.resetWindowLevel('2')">
      <mat-icon>settings_brightness</mat-icon>
    </button> -->

    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>

    <button class="smallerButton" mat-raised-button matTooltip="Restore the original slices position in all the views"
      (click)="settings.canvasComparison.resetSlicesLocation();">
      <mat-icon>settings_overscan</mat-icon>
    </button>

    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>

    <button class="smallerButton" mat-raised-button matTooltip="Reset all the configuration settings"
      (click)="settings.canvasComparison.resetConfig(true);">
      <mat-icon>settings_backup_restore</mat-icon>
    </button>

    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>

    <button *ngIf="!settings.localizersOn" mat-raised-button matTooltip="Activate localizers" class="localizers" (click)="settings.canvasComparison.createLocalizers();">
      <mat-icon>add</mat-icon>
    </button>
    <button *ngIf="settings.localizersOn" style="background-color: lightslategray; color: black;" mat-raised-button matTooltip="Remove localizers" class="localizers-checked" (click)="settings.canvasComparison.removeLocalizers();">
      <mat-icon>add</mat-icon>
    </button>

    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>

    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    

    <div style="position: absolute; right: 200px;"> 
      <mat-form-field  style = "width: fit-content;"  matTooltip="Compare two analyses">
        <mat-label> Compare Analyses </mat-label>
        <mat-select (selectionChange)="provenance.compareGraphs($event)">
          <mat-option *ngFor="let graph of graphs" [value]="graph">
            {{ graph._id}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>

      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>


      <button class="smallerButton" mat-raised-button matTooltip="To delete all graphs" (click)="reset()">
        <mat-icon>cancel_presentation</mat-icon>
      </button>

      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>


      <mat-form-field matTooltip="Load a previous analysis">
        <mat-label> </mat-label>
        <mat-select (selectionChange)="provenance.restoreGraph($event)">
          <mat-option *ngFor="let graph of graphs" [value]="graph">
            {{ graph._id}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <!-- <mat-form-field>
            <mat-label>Select Story</mat-label>
            <mat-select (selectionChange)="provenance.restoreStory($event)">
              <mat-option *ngFor="let story of stories" [value]="story">
                {{ story._id }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Select Report</mat-label>
            <mat-select (selectionChange)="provenance.restoreTextReport($event)">
              <mat-option *ngFor="let textReport of textReports" [value]="textReport">
                {{ textReport._id }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->


    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>

    <div *ngIf="!studyStarted" style="position: absolute; right: 0%;">
      <a class="nav-item nav-link">PRACTICE SESSION</a>
    </div>

    <div *ngIf="studyStarted" style="position: absolute; right: 0%;">
      <a class="nav-item nav-link">EVALUATION SESSION</a>
    </div>

    <div *ngIf="isAdmin" style="position: absolute; right: 0%;">
      <a class="nav-item nav-link" (click)="logout()">LOGOUT</a>
    </div>

  </mat-toolbar-row>
</mat-toolbar>