:host {
  display: block;
}

.visualizer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: silver;  
}

.visualizerOne {
  width: 100%;
  height: 100%;
  background-color: silver;  
}

.renderer {
  background-color: transparent;
  width: 50%;
  height: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: none;
  position: relative;
  overflow: hidden;
}

.rendererOne {
  background-color: transparent;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: none;
  position: relative;
  overflow: hidden;
}

#magnification-r0 {    
  position: absolute;
  color: rgb(255, 200, 100);
  left: 1%;
  top: 0%;
}
#magnification-r1 {    
  position: absolute;
  color: rgb(255, 200, 100);
  left: 1%;
  top: 0%;
}
#magnification-r2 {    
  position: absolute;
  color: rgb(255, 200, 100);
  left: 1%;
  top: 0%;
}
#magnification-r3 {    
  position: absolute;
  color: rgb(255, 200, 100);
  left: 1%;
  top: 0%;
}
.magnification-exit {    
  position: absolute;
  color: rgb(255, 200, 100);
  left: 1%;
  top: 1%;
}


#navigation-r0-up {    
  position: absolute;
  color: rgb(255, 200, 100);
  left: 1%;
  top: 5%;
}
#navigation-r2-up {    
  position: absolute;
  color: rgb(255, 200, 100);
  left: 1%;
  top: 5%;
}
#navigation-r3-up {    
  position: absolute;
  color: rgb(255, 200, 100);
  left: 1%;
  top: 5%;
}
#navigation-r0-down {    
  position: absolute;
  color: rgb(255, 200, 100);
  left: 1%;
  top: 10%;
}
#navigation-r2-down {    
  position: absolute;
  color: rgb(255, 200, 100);
  left: 1%;
  top: 10%;
}
#navigation-r3-down {    
  position: absolute;
  color: rgb(255, 200, 100);
  left: 1%;
  top: 10%;
}

.navigation-up {    
  position: absolute;
  color: rgb(255, 200, 100);
  left: 1%;
  top: 5%;
}
.navigation-down {    
  position: absolute;
  color: rgb(255, 200, 100);
  left: 1%;
  top: 8%;
}

/* 
#r0 {
  border-top: 2px solid #03a9f4;
  border-left: 2px solid #03a9f4;
}

#r1 {
  border-top: 2px solid #f44336;
  border-right: 2px solid #f44336;
}

#r2 {
  border-bottom: 2px solid #ffeb3b;
  border-left: 2px solid #ffeb3b;
}

#r3 {
  border-bottom: 2px solid #8bc34a;
  border-right: 2px solid #8bc34a;
} */
