<div id="comparisonMain2" class="visualizerComparison">
    <div id="c1" class="rendererComparison">
        <button *ngIf="!settings.isOneView" mat-icon-button class="magnification" (click)="displayOneView('c1');"
            matTooltip="Magnify view">
            <mat-icon>fullscreen</mat-icon>
        </button>
        <button *ngIf="settings.isOneView" mat-icon-button class="magnification-exit" (click)="displayOneView('c1');"
            matTooltip="Reduce view">
            <mat-icon>fullscreen_exit</mat-icon>
        </button>
        <button mat-icon-button class="datacomics" (click)="addFrame('datacomics', 'c1');"
            matTooltip="Add frame to dashboard">
            <mat-icon>grid_on</mat-icon>
        </button>
        <button *ngIf="settings.isOneView" mat-icon-button class="navigation-up"
            (click)="navigateVolume('axial', this._axialRenderer.stackHelper._orientationMaxIndex -1, 10000);"
            matTooltip="Show next slices">
            <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
        <button *ngIf="settings.isOneView" mat-icon-button class="navigation-down"
            (click)="navigateVolume('axial', 1, 10000);" matTooltip="Show previous slices">
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
    </div>
    <div id="c3" class="rendererComparison">
        <button *ngIf="!settings.isOneView" mat-icon-button class="magnification" (click)="displayOneView('c3');"
            matTooltip="Magnify view">
            <mat-icon>fullscreen</mat-icon>
        </button>
        <button *ngIf="settings.isOneView" mat-icon-button class="magnification-exit" (click)="displayOneView('c3');"
            matTooltip="Reduce view">
            <mat-icon>fullscreen_exit</mat-icon>
        </button>
        <button mat-icon-button class="datacomics" (click)="addFrame('datacomics', 'c3');"
            matTooltip="Add frame to dashboard">
            <mat-icon>grid_on</mat-icon>
        </button>
        <button *ngIf="settings.isOneView" mat-icon-button class="navigation-up"
            (click)="navigateVolume('freeform', this._perspectiveRenderer.stackHelper._orientationMaxIndex -1, 10000);"
            matTooltip="Show next slices">
            <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
        <button *ngIf="settings.isOneView" mat-icon-button class="navigation-down"
            (click)="navigateVolume('freeform', 1, 10000);" matTooltip="Show previous slices">
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
    </div>
</div>