<div style="margin: 5%;   text-align: center; font-size: larger;">

    <div *ngIf="isAdmin || isAuthor">
        <p>Complete the following questionnaire, <u>submit it</u> and press END to end the study.</p>
    </div>
<br><br>

    <div *ngIf="(isAuthor || isAdmin) && isNoProvGraph">
        <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSeWhyU1aI6aICEh9AtskJMz-AlJw83v0IB6PUPKengRqUC7Bg/viewform?embedded=true"></iframe>
    </div>

    <div *ngIf="(isAuthor || isAdmin) && isProvGraph">
        <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSfoqrWEgOaiuXaCDS7Id6-dMX0FevEtafOdIA8sEdJXYu9EnQ/viewform?embedded=true"></iframe>
    </div>

    <div class="buttonLink">
        <b>
            <a routerLink='/thanks'>
                END
            </a>
        </b>
    </div>
</div>